.header, .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  box-shadow: 1px 1px 10px 1px #efefef;
}

.title {
  font-size: 18px;
  font-weight: 700;
  color:#8a8a8a;
  letter-spacing: 1px;
}

.mainContent {
  height: calc(100vh - 92px);
  overflow-y: auto;
}